<div
  data-controller="drag-and-drop"
  data-action="mousedown->drag-and-drop#mousedown mouseup->drag-and-drop#mouseup mousemove->drag-and-drop#mousemove"
  class="h-100 w-100 bg-lightgreen p-absolute"
>
</div>

<div
  data-controller="drag-and-drop"
  data-action="mousedown->drag-and-drop#mousedown mouseup->drag-and-drop#mouseup mousemove->drag-and-drop#mousemove"
  class="h-100 w-100 bg-lightgreen p-absolute"
>
</div>
<div
  data-controller="drag-and-drop"
  data-action="mousedown->drag-and-drop#mousedown mouseup->drag-and-drop#mouseup mousemove->drag-and-drop#mousemove"
  class="h-100 w-100 bg-lightgreen p-absolute"
>
</div>
<div
  data-controller="drag-and-drop"
  data-action="mousedown->drag-and-drop#mousedown mouseup->drag-and-drop#mouseup mousemove->drag-and-drop#mousemove"
  class="h-100 w-100 bg-lightgreen p-absolute"
>
</div>
<div
  data-controller="drag-and-drop"
  data-action="mousedown->drag-and-drop#mousedown mouseup->drag-and-drop#mouseup mousemove->drag-and-drop#mousemove"
  class="h-100 w-100 bg-lightgreen p-absolute"
>
</div>

<!-- drop shit into trashcan, drop the squares inside and it should disappear -->
<!-- when dragging the trash, its appearance should change -->
<!-- click on square, it gets smaller, then returns to its original size -->